// color vars
//// basic
$color-orange = #5599c7
$color-regular-blue = #1f618d
$color-background = #e1e5ea
$color-white = #fff

//// gray
$color-dark-grey = #363636
$color-grey = #565656
$color-light-grey = #737373
$color-light-grey-s = #90979e
$color-light-grey-ss = #ACACAC
$color-light-grey-sss = #D1D1D1
$color-active-grey = #F0F0F0

$color-dark-grey-opacity = rgba(31, 97, 141, 0.8)
$color-grey-opacity = rgba(0, 0, 0, .08)
$color-light-grey-opacity = rgba(0, 0, 0, .04)

//// orange 
$color-dark-orange = #1a5276
$color-light-orange = #B3DEFF
$color-orange-opacity = rgba(78, 140, 238, .08)
$color-light-orange-opacity = rgba(78, 140, 238, .04)

//// blue
$color-blue = #1a5276


//// row line
$color-row-line = #bfbfbf
//// column line
$color-col-line = #e1e5ea

/// mask
$color-mask-bg = rgba(31, 77, 126, .4)